<a href="https://colab.research.google.com/github/shRiyas02/Cancer-Detection-ML-/blob/main/Proteomics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
seq1 = 'MADALRFVAWSCCLQLLFLLLGVQGYEVPKAKIDVFYPKGFEVSIPDEEGITLFAFHGKLNEEMEGLEAGTWARDIVKAKNGRWTFRDRITALKPGDTLYYWTYVIYNGLGYREDDGSFVVNGYSGNNASPHPPVVPVSTTPWTPPADPDIDIRLGCTTPKTEVNGAPTRCAGQLVFVDEFNAAKLDPNKWKAERRFSGQPDYEFNVYVDDAPETLCLANGHVVLSTNTMKKQFKKGSGESLDLGEKCTGQANTHDCVRNGRTLNDGLPPMVTAQFSSKDFSFKYGRVEVRAKMPRAQWVTPQIWLQPRRPIYGVDDYRSGQLRIAYTRPNGGNLDLYGAAVLFADEPLRSVKNCLKPGTGNNSEDWSDSFHNYTLEWTPRELRWLVDGKEWCVQGSAKGSFSETTAAGKSLPQAQKLEEGTGLAPFDQEFYLTFGLSVGGFNEYQHEIKPWNERAPQAQKAFWKEVKKIRDHWLDEGHMKIDYVKVYSL'
seq2 = 'MPGLCIGILLLIGFGCTTAYKIPTPTVELLETGFSVSIPDEEGVKVVAFNVNRNRNFTSFINEGQYNVRLTEPQNGRWTTNFSSVPLRSQDVLYLWTSVQHQKAVYQDLAQPLPVCNLGGEYRPRGCSPGDDDFTDDNQLSTEDSALEPTAPSVCEPSESQVSPQIGVSICKGQLLFEETFDQLNESLWIHDVRLPLDSKDAEFVLYDGKAKVHDGNLVIEPLLWSSYRPDLSIANSRLDLSERCTGTHNRIKECILHSTGSGPSGIMPPIVTPRISTKETFAFQYGRIEIRAKLPKGDWIVPLLLLEPLTEWYGQSGYESGQLRVALARGNSVLRMPRGKLVDGRSLYGGPVLSTDAHQREDLWLSKRKISHFGDDFHTYSLDWSSNRLLFSVDGQVYGEMLNGFTELDENPRWKQGGPMAPFDKMFYISLGVSVGGFGDFVDHLRTATYEKPWANYHPQAKLQFHQAQDQWLPTWKQPALKIDYVRVFATDN'
seq3 = 'MRWEFLPCLLLLISNNKIFGFKVPSINFEMLKDEGFEVSIPDEPGIQRVFYMFQIDDTCPALMDYITEAVNGSWVSKQKMSLQNNDKLQISMLVQFNEEIFEKSETRVIINTRLLTTKDSSSRGITFLTGEGECQAYLAPAQQAKRCKAAQTIVSNGRHTCQGELIFEDNFSEAQLNKTTWKHDIRQRMYHVEEELVAFDDAARNCFVKEGELHIVPTIATEVTDGSFKLGDRCTAVESPEQECNIAHGIFYSIKPPVFSAQIHTRNSFSFKFGKIVVRAKLPKGDWLFPYLMLQPVSTYAETHYAKQLRIAYARGNANLRTKQGDDISGNHLYGGGVVWHHGNAVQFLKDKISNSHYGDDFHNYTMIWQRDKITLMVDDEVYGELYDGLPFFNEKCFIIFGVTVGGFLNFDDSLLAKDVKPYKNREPRAALSFWQHRDAWAPTWGRHSAMVIDYVRVYAE'
seq4 = 'MWCIVNLPNGTQQAVKWDPKANGQECLEKVCRAMNIICEMEYFGLEHWTPNQKESQTRQWINLRNRLSGDSGSSGSGIQLMLALRVKFWVPVHFILQESVRNLFYMQARRDLLEGRLTAPDWSGAAKLAALLCQADGLRFNESSLKADCPMRMRRELAQQQQQQQQQAQQHRLEQQRKEKEHVLSFKKRRLSKQKSMEHIEVCTLPAASTTSCSLQPSPSASASASASASASASASTSACSQTHSNSSSSSPSNSSSQTGLDERLASNPLRVYEEYFMQPSCEGEPPADYLRQIAVEHGKLAKLQMSLKTAKYWLLKSIQDLEGYGEELFSGVTTNESATRCDIAVGAHGITVCRGGEKQSIPFGAIAAAKSLRRTFKLEYVDDHNDRKELEIKLPKQPIAAGLYRSITERHAFYVCDKVRGVVTNQFTRDLKGTIASMFMENTELGKRYVFDIQHTCREVHDQARRTLHERGGDLVAEGAEGCSAVAGGLGASAVGEPGVSPWAMALTTGAGGSMAGKIDLAIREKEAREAAIERCVDTRISEAMQCKICMDRAINTVFNPCCHVIACAQCAARCSNCPNCRVKITSVVKIYLPPELRTSQTGSGATTTSSSSIMGDGQVEEQLLQQQLDEISAAPASLEAGADAGVGVGGMAVGAGAGAGATGPGGQPKVTTAAXNWLCSLLFRLMEWVCVPIV'
seq5 = 'RFVAWSCCLQLLFLLLGVQGYEVPKAKIDVFYPKGFEVSIPDEEGITLFAFHGKLNEEMEGLEAGTWARDIVKAKNGRWTFRDRITALKPGDTLYYWTYVIYNGLGYREDDGSFVVNGYSGNNASPHPPVVPVSTTPWTPPADPDIDIRLGCTTPKTEVNGAPTRCAGQLVFVDEFNAAKLDPNKWKAERRFSGQPDYEFNVYVDDAPETLCLANGHVVLSTNTMKKQFKKGSGESLDLGEKCTGQANTHDCVRNGRTLNDGLPPMVTAQFSSKDFSFKYGRVEVRAKMPRAQWVTPQIWLQPRRPIYGVDDYRSGQLRIAYTRPNGGNLDLYGAAVLFADEPLRSVKNCLKPGTGNNSEDWSDSFHNYTLEWTPRELRWLVDGKEWCVQGSAKGSFSETTAAGKSLPQAQKLEEGTGLAPFDQEFYLTFGLSVGGFNEYQHEIKPWNERAPQAQKAFWKEVKKIRDHWLDEGHMKIDYVKVYSL'

In [ ]:
seq = [seq1, seq2, seq3, seq4, seq5]

In [ ]:
amino_acid_dict = {
    "A": "Alanine",
    "R": "Arginine",
    "N": "Asparagine",
    "D": "Aspartic acid",
    "C": "Cysteine",
    "E": "Glutamic acid",
    "Q": "Glutamine",
    "G": "Glycine",
    "H": "Histidine",
    "I": "Isoleucine",
    "L": "Leucine",
    "K": "Lysine",
    "M": "Methionine",
    "F": "Phenylalanine",
    "P": "Proline",
    "S": "Serine",
    "T": "Threonine",
    "W": "Tryptophan",
    "Y": "Tyrosine",
    "V": "Valine"
}

In [ ]:
amino_acid_list = list(amino_acid_dict.keys())

In [ ]:
polar = ['R', 'N', 'D', 'C', 'Q', 'E', 'G', 'H', 'K', 'S', 'T', 'Y']
nonPolar = ['A', 'I', 'L', 'M', 'F', 'P', 'W', 'V']

In [ ]:
acid_freq = []
polarPer = []
nonPolarPer = []
for acid_seq in seq:
    freq = []
    pSum = 0
    npSum = 0
    for acid in amino_acid_list:
        freq.append(acid_seq.count(acid))
        if acid in polar:
            pSum += (acid_seq.count(acid))
        elif acid in nonPolar:
            npSum += (acid_seq.count(acid))
    acid_freq.append(freq)
    polarPer.append(round(pSum*100/(pSum+npSum),2))
    nonPolarPer.append(round(npSum*100/(pSum+npSum),2))

1. Compute the amino acid frequencies in each sequence

In [ ]:
df = pd.DataFrame()
df['amino_acid'] = amino_acid_list
df['seq1'] = acid_freq[0]
df['seq2'] = acid_freq[1]
df['seq3'] = acid_freq[2]
df['seq4'] = acid_freq[3]
df['seq5'] = acid_freq[4]

In [ ]:
df

   amino_acid  seq1  seq2  seq3  seq4  seq5
0           A    34    21    30    76    32
1           R    25    26    22    43    25
2           N    23    20    23    21    23
3           D    31    32    28    24    30
4           C     9     8     9    27     9
5           E    31    28    30    48    31
6           Q    18    24    21    45    18
7           G    43    40    29    54    43
8           H     8    11    14    14     8
9           I    14    22    30    30    14
10          L    40    53    34    57    39
11          K    32    20    28    33    32
12          M     6     6    11    19     5
13          F    24    22    30    16    24
14          P    31    33    17    27    31
15          S    24    39    26    64    24
16          T    29    28    24    36    29
17          W    15    12     9    10    15
18          Y    20    17    17    12    20
19          V    33    32    29    39    33

2. Using the amino acid classification above (Table 1), create the following table: <br>
Sequence | %Polar | %Nonpolar

In [ ]:
table = pd.DataFrame()
table['sequence'] = [1,2,3,4,5]
table['%polar'] = polarPer
table['%non-polar'] = nonPolarPer

In [ ]:
table

   sequence  %polar  %non-polar
0         1   59.80       40.20
1         2   59.31       40.69
2         3   58.79       41.21
3         4   60.58       39.42
4         5   60.21       39.79

3. Find <br>
    a. The number of polar and nonpolar patches.<br>
    b. the largest polar and nonpolar patches (contiguous sequence) in each sequence.

In [ ]:
def is_polar(aa):
    polar_aa = 'RKDENQHSTY'
    return aa.upper() in polar_aa

def count_patches(sequence):
    patches = {'polar': 0, 'nonpolar': 0}
    max_lengths = {'polar': 0, 'nonpolar': 0}
    current_patch_type = None
    patch_length = 0

    for aa in sequence:
        if is_polar(aa):
            if current_patch_type != 'polar':
                current_patch_type = 'polar'
                patches['polar'] += 1
                patch_length = 1
            else:
                patch_length += 1
        else:
            if current_patch_type != 'nonpolar':
                current_patch_type = 'nonpolar'
                patches['nonpolar'] += 1
                patch_length = 1
            else:
                patch_length += 1

        # Update maximum patch length
        if patch_length > max_lengths[current_patch_type]:
            max_lengths[current_patch_type] = patch_length

    return patches, max_lengths

In [ ]:
# Example amino acid sequence
patch = []
maxLength = []
for acid_seq in seq:
    patch_counts, max_patch_lengths = count_patches(acid_seq)
    patch.append(patch_counts)
    maxLength.append(max_patch_lengths)

In [ ]:
df1 = pd.DataFrame(patch)
df2 = pd.DataFrame(maxLength)
df = pd.concat([df1,df2], axis=1)
df['sequence'] = [1,2,3,4,5]

In [ ]:
df.columns= ['num_polar_patch',	'num_nonpolar_patch', 'max_polar_len',	 'max_nonpolar_len', 'sequence']

In [ ]:
df = df[[ 'sequence','num_polar_patch',	'num_nonpolar_patch', 'max_polar_len',	 'max_nonpolar_len']]

In [ ]:
df

,sequence,num_polar_patch,num_nonpolar_patch,max_polar_len,max_nonpolar_len
0,1,146,147,6,8
1,2,132,132,5,16
2,3,123,123,8,9
3,4,177,178,11,18
4,5,145,145,6,8